{% extends 'base.html.twig' %}

{% block body %}



    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Welcome to my Symfony website</h1>
        <p>insert your log information here.</p>

    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <br>
        <br>
    </nav>

    <div class="container" style="margin-top:30px">

    <div class="col-sm-8">
        {{ form_start(form) }}
        <div class="form_group">
            <div class="col-md-8 col-md-offset-2">
                {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form_group">
            <div class="col-md-8 col-md-offset-2">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form_group">
            <div class="col-md-8 col-md-offset-2">
                {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form_group">
            <div class="col-md-8 col-md-offset-2">
                {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form_group">
            <div class="col-md-8 col-md-offset-2">
                {{ form_row(form.description2, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-btn fa-user"></i> Register
                </button>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>

{% endblock %}